@import "tailwindcss";

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    black calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    black calc(var(--x) + 100%)
  );

  -webkit-mask-image: linear-gradient(
    -75deg,
    black calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    black calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(204, 0, 255, 0.1) calc(var(--x) + 20%),
    rgba(113, 3, 247, 0.9) calc(var(--x) + 25%),
    rgba(115, 0, 255, 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask-composite: subtract;
}
